/* Estilos para los ejemplos de esta clase */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}


.boton, #b1,#b2,#b3,#text {
    color: white;
    border-radius: 3px;
    border: 1px solid #303030;
}

#text {
    color: #303030;
}

.boton, #b1, #b2, #b3, input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin: 4px;
        cursor: pointer;
        border-radius: 10px;
}

.nuevaClase {
    border-bottom: 2px solid red;
    background: coral;
    margin-top: 10px;
}